.container {
  border: 1px solid #022893;
  border-radius: 10px;
  height: 57.17px;
  padding: 15px;
  margin: 0;

  color: #022893;
  font-size: 16px;
}

.student-name{
    font-weight: bold;
}

mat-icon{
    margin-right: 5px;
}

.clickable:hover{
    text-decoration: underline solid #022893;
}

:host ::ng-deep .mat-checkbox-frame { 
    border-color: rgb(224, 224, 230);
    background-color: rgb(224, 224, 230);;
  }

