<div class="container border border-primary">
    <div class="row">
        <div class="col-1 checkbox checkbox">
            <input class="checkbox-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="checkbox-label" for="flexCheckDefault">
            </label>
        </div>
        <div class="col col-sm student-name">
            {{studentToDisplay.GetName()}}
        </div>
        <div class="col col-sm student-ra">
            {{studentToDisplay.GetRA()}}
        </div>
        <div class="col col-sm student-situation">
            {{studentToDisplay.GetUploadedSelfiesList()[0].state}}
        </div>
        <div class="col-3 col-sm add-comment">
            Enviar email
        </div>
    </div>
</div>