<section>
    <div>                <!-- 8) Aplicando lógica do evento todo -->
        <!--<span *ngIf=" evento ? criandoCard() : ''"></span>-->  
        <ul *ngFor="let card of cards">
            <li *ngIf="card.GetSituacao() === 'Pendente'">
                <p class="titulo-card-status">Selfie #{{card.GetId()}}</p>
                <p class="status">Enviado em: {{card.GetData()}}</p>
                <p class="status">Situação: <span [ngStyle]="{'color':'yellow'}">{{card.GetSituacao()}}</span></p>
            </li>
            <li *ngIf="card.GetSituacao() === 'Reprovado'">
                <p class="titulo-card-status">Selfie #{{card.GetId()}}</p>
                <p class="status">Enviado em: {{card.GetData()}}</p>
                <p class="status">Situação: <span [ngStyle]="{'color':'red'}">{{card.GetSituacao()}}</span></p>
                <p class="status">Motivo: {{card.GetMotivo()}}</p>
            </li>
            <li *ngIf="card.GetSituacao() === 'Aprovado'">
                <p class="titulo-card-status">Selfie #{{card.GetId()}}</p>
                <p class="status">Enviado em: {{card.GetData()}}</p>
                <p class="status">Situação: <span [ngStyle]="{'color':'green'}">{{card.GetSituacao()}}</span></p>
            </li>
        </ul>
    </div>
</section>
