<section>
    <div>
        <ul *ngFor="let card of cards">
            <li *ngIf="card.situacao === 'Reprovado'">
                <p class="titulo-card-status">Selfie #{{card.id}}</p>
                <p class="status">Enviado em: {{card.data}}</p>
                <p class="status">Situação: <span [ngStyle]="{'color':'red'}">{{card.situacao}}</span></p>
                <p class="status">Motivo: {{card.motivo}}</p>
            </li>
            <li *ngIf="card.situacao === 'Aprovado'">
                <p class="titulo-card-status">Selfie #{{card.id}}</p>
                <p class="status">Enviado em: {{card.data}}</p>
                <p class="status">Situação: <span [ngStyle]="{'color':'green'}">{{card.situacao}}</span></p>
            </li>
        </ul>
    </div>
</section>
