<section>
    <div class="container" [ngStyle]="{'height':tamanho}">
        <ul>
            <p class="welcome-msg">
                HORA DA SELFIE
            </p>
            <button *ngIf="foto == ''" class="placeholder-foto"></button>
            <div *ngIf="foto != ''" class="placehold-foto">
                <img [src]="foto" [height]="108" [width]="242">
            </div>
            <button *ngIf="statusCard === 'NEED_TO_SEND' || statusCard === undefined || statusCard === 'DECLINED'" class="botao-tirar-foto" [ngStyle]="{'margin-top':marginTop, 'margin-bottom':marginBottom }" (click)="checkPermissions()">TIRAR</button>  
            <button *ngIf="statusCard === 'APPROVED' || statusCard === 'Pendente'" disabled='true' class="botao-tirar-foto" [ngStyle]="{'margin-top':marginTop, 'margin-bottom':marginBottom, 'background-color':'grey'}" (click)="termos()">TIRAR</button> 
        </ul>
    </div>
</section>

