<div class="container">
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="filter_list"></mat-icon>
  <h2> Filtros</h2>



  <div class="container">
    <div class="row row-cols-2 gx-1 gy-2 filter-buttons">
      <div class="col-auto"><input class="btn btn-primary" type="button" value="Pendente"
          (click)="GetSelfiesListByState('Pendente')"></div>
      <div class="col-auto"><input class="btn btn-primary" type="button" value="Aprovados"
          (click)="GetSelfiesListByState('APPROVED')"></div>
      <div class="col-auto"><input class="btn btn-primary" type="button" value="Reprovados"
          (click)="GetSelfiesListByState('DECLINED')"></div>
      <div class="col-auto clean-filters-btn"><input class="btn btn-primary" type="button" value="Limpar filtros"
          (click)="GetSelfiesListByState('')"></div>
    </div>
  </div>

  <div class="container cards-container">
    <div *ngFor="let student of studentsListFiltered">
      <app-student-card *ngFor="let selfie of student.GetUploadedSelfiesList()" [studentToDisplay]="student"
        [photoToDisplay]="selfie"></app-student-card>
    </div>
  </div>

  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="settings"></mat-icon>
  <h2> Em Andamento</h2>

  <app-situation-rectangle *ngFor="let student of studentsListFiltered" [studentToDisplay]="student">
  </app-situation-rectangle>
</div>


<div class="modal fade bd-example-modal-lg" id="pop-up-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <app-rejection-card></app-rejection-card>
    </div>
  </div>
</div>
