h2{
    color: #022893;
    display: inline;
}

.filter-buttons{
    padding: 0;
    margin-bottom: 10px;
}

.clean-filters-btn{
    position: relative;
    right: -50%;
}

.cards-container{
    overflow:auto; 
    height: 500px;
}