.body-container {
  margin: 20px 50px;
}

.btn {
  background-color: rgba(224, 224, 230, 0.6);
  color: #022893;
  margin: 10px;
  border-radius: 10px;
}

.tittle-and-icon {
  display: flex;
  align-content: center;
  margin: 20px 0;
  color: #022893;

  font-weight: 700;
  font-size: 22px;
}

.clean-filters-btn {
  position: relative;
  border: 1px solid #022893;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
}

.clean-filters-btn:active {
  background-color: rgb(160, 160, 160);
  border: 1px solid #022893;
  color: #022893;
}

.cards-container {
  overflow: auto;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.rect-container{
 padding-left: 180px;
}


