<div class="body-container">
  <h1>Avaliação da Selfie</h1>

  <div class="tittle-and-icon">
    <mat-icon fontIcon="tune"></mat-icon>
    Filtros
  </div>

  <div class="row filter-buttons">
    <div class="col-auto d-flex justify-content-center">
      <app-filter-lists-buttons [text]="'Para aprovar'" [buttonIsActivated]="selfieFiltersButtons[0]"
        (click)="FilterSelfieByState(0,'SELFIE_IN_REVIEW')"></app-filter-lists-buttons>
    </div>
    <div class="col-auto d-flex justify-content-center">
      <app-filter-lists-buttons [text]="'Aprovados'" [buttonIsActivated]="selfieFiltersButtons[1]"
        (click)="FilterSelfieByState(1,'APPROVED')"></app-filter-lists-buttons>
    </div>
    <div class="col-auto d-flex justify-content-center">
      <app-filter-lists-buttons [text]="'Reprovados'" [buttonIsActivated]="selfieFiltersButtons[2]"
        (click)="FilterSelfieByState(2,'SELFIE_REJECTED')"></app-filter-lists-buttons>
    </div>
    <div class="col-6"></div>
    <div class="col-auto d-flex justify-content-center">
      <button mat-button (click)="FilterSelfieByState(-1,'')" class="clean-filters-btn">Limpar filtros</button>
    </div>
  </div>

  <div class="cards-container">
    <app-student-card *ngFor="let selfie of selfiesListFiltered" [selfieToDisplay]="selfie"></app-student-card>
  </div>

  <h1>Status de envio</h1>

  <div class="tittle-and-icon">
    <mat-icon fontIcon="tune"></mat-icon>Filtros
  </div>

  <div class="row filter-buttons">
    <div class="col-auto d-flex justify-content-center">
      <app-filter-lists-buttons [text]="'Aprovados'" [buttonIsActivated]="studentsFiltersButtons[0]" (click)="FilterStudentsByStatus(0,'APPROVED')"></app-filter-lists-buttons>

    </div>
    <div class="col-auto d-flex justify-content-center">
      <app-filter-lists-buttons [text]="'Reprovados'" [buttonIsActivated]="studentsFiltersButtons[1]" (click)="FilterStudentsByStatus(1,'SELFIE_REJECTED')">
      </app-filter-lists-buttons>
    </div>
    <div class="col-auto d-flex justify-content-center">
      <app-filter-lists-buttons [text]="'Em Análise'" [buttonIsActivated]="studentsFiltersButtons[2]" (click)="FilterStudentsByStatus(2,'SELFIE_IN_REVIEW')">
      </app-filter-lists-buttons>
    </div>
    <div class="col-auto d-flex justify-content-center">
      <app-filter-lists-buttons [text]="'Não enviados'" [buttonIsActivated]="studentsFiltersButtons[3]" (click)="FilterStudentsByStatus(3,'NO_SELFIE')">
      </app-filter-lists-buttons>
    </div>

  </div>

  <div class="rect-container">
    <app-situation-rectangle *ngFor="let student of studentsListFiltered" [studentToDisplay]="student">
    </app-situation-rectangle>
  </div>


</div>