.body-container {
  margin: 20px 50px;
}
h1 {
  font-weight: 700;
  font-size: 24px;
  margin: 20px 0;
}

.tittle-and-icon {
  margin: 20px 0;
  color: #022893;

  font-weight: 700;
  font-size: 22px;

  display: flex;
  align-items: center;
}

.filter-buttons {
  margin-bottom: 10px;
}

.clean-filters-btn {
  position: relative;
  border: 1px solid #022893;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
}

.cards-container {
  overflow: auto;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.rect-container {
  padding-left: 200px;
}
