
.background-card {
  background-color: #e0e0e5;
}

#card-image{
  max-width: 200px; border-radius: 10px;
}

mat-card{
  max-width: 50%;
  margin: 10px 0px;
  background-color: rgba(224, 224, 230, 0.6);
  color: #003C9C
}

button{
  margin: 10px;
  color: white;
}

.reprove-btn{
  background-color: red;
}

.aprove-btn{
  background-color: green;
}