<mat-card>
    <mat-card-header>
        <h1 style="margin-left: -32px;">{{GetStudentFirstName()}} #{{selfieToDisplay.idSelfie+1}}</h1>
        <h2 style="margin-left: auto;">{{GetStudentRa()}}</h2>
    </mat-card-header>
    <mat-card-content>
        <div class="card-content-container mt-4">
            <div class="row">
                <div class="col-4">
                    <a class="link-image" href="{{selfieToDisplay.imgURL}}" target="_blank">
                        <div *ngIf="GetSquareCoords()" class="square-identyfier" [ngStyle]="GetSquareCoords()"></div>
                        <img id="card-image" src="{{selfieToDisplay.imgURL}}" alt="Uma foto de {{studentEntity.name}}"
                            onerror="this.onerror=null; this.src='../../../assets/Error-Image.png'">
                    </a>
                </div>

                <div class="col">
                    <h2>Impedimentos</h2>
                    <div class="row">
                        <div class="col-12">

                            <div *ngIf="selfieToDisplay.state == 'IN_REVIEW'" class="row impedimentos-container">
                                <div class="col-12">
                                    <mat-checkbox [color]="'primary'" class="col-6">
                                        Fundo inválido
                                    </mat-checkbox>
                                    <mat-checkbox [color]="'primary'" class="col-6">Rosto
                                        coberto
                                    </mat-checkbox>
                                </div>
                                <div class="col-12">
                                    <mat-checkbox [color]="'primary'" class="col-6">
                                        Pessoa não identificada
                                    </mat-checkbox>
                                    <mat-checkbox [color]="'primary'" class="col-6">
                                        Outros motivos
                                    </mat-checkbox>
                                </div>
                            </div>

                            <div *ngIf="selfieToDisplay.state != 'IN_REVIEW'" class="row impedimentos-container">
                                <div class="col-6">
                                    <span class="d-flex align-items-center">
                                        <mat-icon
                                            *ngIf="IsReasonTrue('NOT_ALLOWED_BACKGROUND', selfieToDisplay.rejectionReason! )"
                                            class="me-1 state-checkbox" fontIcon="check_box"></mat-icon>
                                        <span
                                            *ngIf="!IsReasonTrue('NOT_ALLOWED_BACKGROUND', selfieToDisplay.rejectionReason!)"
                                            class="me-1  ms-1 state-checkbox-no-checked"></span>
                                        Fundo
                                        inválido
                                    </span>
                                </div>
                                <div class="col-6">
                                    <span class="d-flex align-items-center">
                                        <mat-icon *ngIf="IsReasonTrue('COVERED_FACE', selfieToDisplay.rejectionReason!)"
                                            class="me-1 state-checkbox" fontIcon="check_box"></mat-icon>
                                        <span *ngIf="!IsReasonTrue('COVERED_FACE', selfieToDisplay.rejectionReason!)"
                                            class="me-1  ms-1 state-checkbox-no-checked"></span>
                                        Rosto
                                        coberto
                                    </span>
                                </div>

                                <div class="col-6">
                                    <span class="d-flex align-items-center">
                                        <mat-icon
                                            *ngIf="IsReasonTrue('NO_PERSON_RECOGNIZED', selfieToDisplay.rejectionReason!)"
                                            class="me-1 state-checkbox" fontIcon="check_box"></mat-icon>
                                        <span
                                            *ngIf="!IsReasonTrue('NO_PERSON_RECOGNIZED', selfieToDisplay.rejectionReason!)"
                                            class="me-1  ms-1 state-checkbox-no-checked"></span>
                                        Pessoa
                                        não reconhecida
                                    </span>
                                </div>
                                <div class="col-6">
                                    <span class="d-flex align-items-center">
                                        <mat-icon
                                            *ngIf="IsReasonTrue('NONE', selfieToDisplay.rejectionReason!) || IsReasonTrue('OTHER_REASONS', selfieToDisplay.rejectionReason!)"
                                            class="me-1 state-checkbox" fontIcon="check_box"></mat-icon>
                                        <span
                                            *ngIf="!IsReasonTrue('NONE', selfieToDisplay.rejectionReason!) && !IsReasonTrue('OTHER_REASONS', selfieToDisplay.rejectionReason!)"
                                            class="me-1  ms-1 state-checkbox-no-checked"></span>
                                        Outros
                                        motivos
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <input #rejectionDescription (input)="SetRejectionDescription(rejectionDescription.value)"
                                class="col-10" type="text" id="rejectionDescription" name="rejectionDescription"
                                placeholder="Adicionar descrição">
                        </div>
                        <app-student-card-state-buttons [selfieToDisplay]="selfieToDisplay"
                            class="p-0"></app-student-card-state-buttons>

                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>

</mat-card>