<mat-card>
    <mat-card-content>
        <div class="container">
            <div class="row">
                <div class="col-5">

                    <a class="link-image" href="{{selfieToDisplay.imgURL}}" target="_blank">
                        <div *ngIf="GetSquareCoords()" class="square-identyfier" [ngStyle]="GetSquareCoords()"></div>
                        <img id="card-image" src="{{selfieToDisplay.imgURL}}" alt="Uma foto de {{studentEntity.name}}"
                            onerror="this.onerror=null; this.src='../../../assets/Error-Image.png'">
                    </a>

                </div>
                <div class="col">
                    <div class="col">
                        <h2 id="student-name">{{studentEntity.name}}</h2>
                        <h3 id="student-email">{{studentEntity.email}}</h3>
                    </div>
                    <div class="col">
                        <h2>Impedimentos</h2>
                        <div *ngIf="selfieToDisplay.state == 'PENDING_REVIEW'">
                            <div class="rejection-reason-list">
                                <mat-checkbox [color]="'primary'" (change)="setReproveReason('NOT_ALLOWED_BACKGROUND')">
                                    Fundo inválido
                                </mat-checkbox>
                            </div>
                            <div class="rejection-reason-list">
                                <mat-checkbox [color]="'primary'" (change)="setReproveReason('COVERED_FACE ')">Rosto
                                    coberto
                                </mat-checkbox>
                            </div>
                            <div class="rejection-reason-list">
                                <mat-checkbox [color]="'primary'" (change)="setReproveReason('NO_PERSON_RECOGNIZED ')">
                                    Nenhuma pessoa reconhecida</mat-checkbox>
                            </div>
                            <div class="rejection-reason-list">
                                <mat-checkbox [color]="'primary'" (change)="setReproveReason(rejectionDescription)">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Digite outro motivo</mat-label>
                                        <input matInput #rejectionText (change)="rejectionDescription = rejectionText.value" [type]="'text'">
                                    </mat-form-field>    
                                </mat-checkbox>
                            </div>
                        </div>

                        <div *ngIf="selfieToDisplay.state != 'PENDING_REVIEW'">
                            <div class="rejection-reason-list">
                                <div class="d-flex align-items-center reject-reasons-div">
                                    <span>
                                        <mat-icon *ngIf="selfieToDisplay.rejectionReason == 'NOT_ALLOWED_BACKGROUND'"
                                            class="me-1 state-checkbox" fontIcon="check_box"></mat-icon>
                                        <span *ngIf="selfieToDisplay.rejectionReason != 'NOT_ALLOWED_BACKGROUND'"
                                            class="me-1 ms-1 state-checkbox-no-checked"></span>
                                    </span> Fundo inválido
                                </div>
                            </div>
                            <div class="rejection-reason-list">
                                <div class="d-flex align-items-center reject-reasons-div">
                                    <span>
                                        <mat-icon *ngIf="selfieToDisplay.rejectionReason == 'COVERED_FACE'"
                                            class="me-1 state-checkbox" fontIcon="check_box"></mat-icon>
                                        <span *ngIf="selfieToDisplay.rejectionReason != 'COVERED_FACE'"
                                            class="me-1 ms-1 state-checkbox-no-checked"></span>
                                    </span> Rosto coberto
                                </div>
                            </div>
                            <div class="rejection-reason-list">
                                <div class="d-flex align-items-center reject-reasons-div">
                                    <span>
                                        <mat-icon *ngIf="selfieToDisplay.rejectionReason == 'NO_PERSON_RECOGNIZED'"
                                            class="me-1 state-checkbox-checked" fontIcon="check_box"></mat-icon>
                                        <span *ngIf="selfieToDisplay.rejectionReason != 'NO_PERSON_RECOGNIZED'"
                                            class="me-1  ms-1 state-checkbox-no-checked"></span>
                                    </span> Nenhuma pessoa reconhecida
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-footer>
        <div class="footer-content">
            <span *ngIf="selfieToDisplay.state == 'PENDING_REVIEW'">
                <button class="button" mat-raised-button (click)="SetSelfieState('APPROVED')">
                    <mat-icon fontIcon="thumb_up"></mat-icon> Aprovar
                </button>

                <button class="button" mat-raised-button (click)="SetSelfieState('DECLINED')">
                    <mat-icon fontIcon="thumb_down"></mat-icon> Reprovar
                </button>
            </span>
            <span *ngIf="selfieToDisplay.state == 'DECLINED'">
                <div class="reprove-btn d-flex justify-content-center align-items-center">
                    <mat-icon class="me-2" fontIcon="thumb_down"></mat-icon> Reprovado
                </div>
            </span>

            <span *ngIf="selfieToDisplay.state == 'APPROVED'">
                <div class="aprove-btn d-flex justify-content-center align-items-center">
                    <mat-icon class="me-2" fontIcon="thumb_up"></mat-icon> Aprovado
                </div>
            </span>

        </div>
    </mat-card-footer>
</mat-card>