<mat-card>
    <mat-card-content>
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <a href="{{photoToDisplay.imgURL}}" target="_blank">
                        <img id="card-image" src="{{photoToDisplay.imgURL}}"
                            alt="Uma foto de {{studentToDisplay.GetName()}}">
                    </a>
                </div>
                <div class="col">
                    <div class="col-3">
                        <h3>{{studentToDisplay.GetName()}}</h3>
                        <h3>{{studentToDisplay.GetRA()}}</h3>
                    </div>
                    <div class="col">
                        <h2>Selecione o(s) motivo(s)</h2>
                        <div>
                            <mat-checkbox [color]="'primary'" (change)="setReproveReason('fundoEscuro')">Fundo escuro</mat-checkbox>
                        </div>
                        <div>
                            <mat-checkbox [color]="'primary'" (change)="setReproveReason('oculos')">Uso de máscaras, chapéu ou acessórios</mat-checkbox>
                        </div>
                        <div>
                            <mat-checkbox [color]="'primary'" (change)="setReproveReason('rostoEscuro')">Rosto pouco iluminado</mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-footer>
        <button class="aprove-btn" mat-raised-button (click)="SetSelfieState('APROVED')">Aprovar</button>
        <button class="reprove-btn" mat-raised-button (click)="SetSelfieState('REPROVED')">Recusar</button>
    </mat-card-footer>
</mat-card>