h1 {
  font-weight: 700;
}

.impedimentos-container{
  color: black;
}

#card-image {
  width: 170px;
  height: 227px;
  border-radius: 10px;
  object-fit: scale-down;
  background-color: rgb(190, 190, 196);
}

mat-card {
  width: 645px;
  height: 370px;
  background-color: rgba(224, 224, 230, 0.6);
  color: #003c9c;
  margin: 20px 40px;
}

mat-card-header {
  border-bottom: 1px solid #022893;
}

#student-name {
  position: relative;
  top: 10px;
}

.rejection-reason-list {
  color: black;
}

.state-checkbox {
  color: #003c9c;
  width: 24px;
  height: 24px;
}

.state-checkbox-no-checked {
  display: inline-block;
  width: 17px;
  height: 17px;
  border-color: rgba(174, 174, 180, 0);
  background-color: rgb(174, 174, 180);
  border-radius: 2px;
}

.reject-reasons-div {
  color: rgb(122, 122, 126);
}

.square-identyfier {
  position: absolute;

  display: inline-block;
  border: rgba(228, 9, 9, 0.815) groove 2px;
}

.link-image {
  position: absolute;
}

#rejectionDescription {
  height: 50px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgba(204, 204, 204, 0);
  border-radius: 12px;
  box-sizing: border-box;
  background-color: rgb(208, 208, 214);
}

::placeholder {
  color: black;
  opacity: 1;
}