
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media(min-width: 821px){
    *{
        max-width: 821px;
    }
    .background{
        width: 821px;
    }
    .background2{
        width: 821px;
        position: 0;
    }
}
