.container {
    width:100%;
    height: 11.2vh;
    display: flex;
    align-items: center;
    position: absolute;
    font-family: notoBold;
    top:0;
}

ul { 
    display: flex;
    flex-direction: row;
    padding: 0 0 0 8.46vw;
    margin: 0;
    align-items: center;
}

ul li{
    list-style-type: none;
    display: flex;
    margin-right: 2.3vw;
}

ul img{
    width: 7vw;
}

ul p{
    top:2px;
    font-family: notoBold;
    font-size:2.8vw;
    color:#fff;
    margin: 0.25vh 0 0 0;
}

